/* navigation bar */
.navigation{
    display: flex;
    justify-content: center;
    justify-content: space-around
}
.middle-nav{
    display: flex;
    justify-content: ;
    gap: 20px;
}
.common-button{
    font-size: 15px;
    background-color: blue;
    color: white;
    height: 40px;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
}
.common-button:hover{
    background-color: green;
}

/* Hero Section */
.hero-parent{
    text-align: center;
    background-image: url("./assets/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: 500px;
}
.hero-parent-child-1{
    padding: 50px;
    color: white;
}
.hero-child-2{
    padding: 20px;
}